body {
  margin-left: 10%; /* Tetap geser ke kanan */
  margin-right: 10%; /* Dan kiri */
  padding: 20px; /* Jaga padding */
  font-family: poppins; /* Gunakan font bawaan tema */
  font-size: poppins; /* Gunakan ukuran teks bawaan */
}

main {
  padding: 15px; /* Jaga padding */
  font-family: inherit; /* Pastikan font konsisten */
  font-size: inherit; /* Pastikan ukuran teks konsisten */
}
